<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="magazine">
    <meta name="robots" content="index, follow">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="sylvie">
    <meta name="keywords" content="magazine web">
    <meta name="robots" content="NOFOLLOW">
    <meta name="keywords" content="en la actualidad, blog, noticas">
    <title>EL BIENESTAR</title>
    <link rel="icon" href="../ASSETS/Gallery/favicon.ico" type="image/x-icon">
    <!--EstilosCSS-->
    <link rel="stylesheet" href="../CSS/estilos.css">
</head>

<body>
    <header>
        <nav class="nav">
            <div>
                <h2>BIENESTAR</h2>
                <img src="../ASSETS/Gallery/bienestar.jpg" alt="Logo empresa" class="logo">
            </div>
            <ul class="nav-links">
                <li><a href="../index.html">INICIO</a></li>
                <li><a href="productos.html">PRODUCTOS</a></li>
                <li><a href="presupuesto.html">CLIENTE</a></li>
                <li><a href="contacto.html" class="activo">CONTACTO</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="datos">
            <h3>Datos de la empresa:</h3><br>
            BIENESTAR S.A. <br>
            c/San Juan num.25-03004 Alicante/España <br>
            email: magazine@gmail.com <br>
            Telefono: +34 96 425 285 230<br>
            <a href="https://maps.app.goo.gl/cRpnsbtExRgwBWtQ7" target="_blank">googlemaps</a>
            <img src="../ASSETS/Gallery/latest.jpg" alt="mapa" class="mapa" width="300" height="300">
        </div>

        <div class="relajacion">
            <img src="../ASSETS/Gallery/13.jpg" alt="relax" class="relax" width="500" height="400">
        </div>

        <div class="politica">
            <p> **Política de privacidad**<br>
                Respetando lo establecido en la legislación vigente, BIENESTAR S.A. se compromete a adoptar las medidas
                técnicas
                y organizativas necesarias, según el nivel de seguridad adecuado al riesgo de los datos recogidos.
                Esta política de privacidad está adaptada a la normativa española y europea vigente en materia de
                protección de
                datos personales en internet.</p>
        </div>
    </main>

     <footer>
        <p>© copyright 2024 Bienestar S.A.Todos los derechos reservados</p>
        
        <a href="http://www.facebook.com" target="_blank">facebook</a>
        <img src="../ASSETS/Gallery/facebook.png" alt="facebook">

        <a href="http://www.instagram.com" target="_blank">Instagram</a>
        <img src="../ASSETS/Gallery/instagram.png" alt="instagram">

        <a href="http://www.youtube.com" target="_blank">youtube</a>
        <img src="../ASSETS/Gallery/youtube.jpg" alt="youtube">
    </footer>
</body>

</html>