<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="magazine">
    <meta name="robots" content="index, follow">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="sylvie">
    <meta name="keywords" content="magazine web">
    <meta name="robots" content="NOFOLLOW">
    <meta name="keywords" content="en la actualidad, blog, noticas">
    <title>EL BIENESTAR</title>
    <link rel="icon" href="../ASSETS/Gallery/favicon.ico" type="image/x-icon">
    <!--EstilosCSS-->
    <link rel="stylesheet" href="../CSS/estilos.css">
</head>

<body>
    <header>
        <nav class="nav">
            <div>
                <h2>BIENESTAR</h2>
                <img src="../ASSETS/Gallery/bienestar.jpg" alt="Logo empresa" class="logo">
            </div>
            <ul class="nav-links">
                <li><a href="../index.html">INICIO</a></li>
                <li><a href="productos.html">PRODUCTOS</a></li>
                <li><a href="presupuesto.html" class="activo">CLIENTE</a></li>
                <li><a href="contacto.html">CONTACTO</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="form">
            <h3>Formulario de consulta:</h3>
            <p>Nuestros productos y servicios se adaptan a tu bienestar tanto físico como mental.
                Mediante consultas psicológicas y tratamientos físicos como un masaje especial a base de esencias o
                flores,
                entre otras cosas.
                Haremos que te sientas bien sin utilizar productos químicos, introducimos la naturaleza en tu vida. Con
                simples gestos notarás,
                una mejoría sin precedente.
                Si necesita tener una consulta privada, preguntas o dudas, deje sus datos y nos pondremos en contacto
                con
                Usted.</p>
        </div>
            <aside>
                <form class="formulario">
                    <label for="name">Nombre</label>
                    <input type="text" id="name" placeholder="Escriba su nombre">

                    <label for="surname">Apellidos</label>
                    <input type="text" id="surname" placeholder="Escriba sus apellidos">

                    <label for="email">Email</label>
                    <input type="text" id="email" placeholder="Escriba su email">

                    <label for="email">Teléfono</label>
                    <input type="text" id="phone" placeholder="Escriba su teléfono">

                    <label for="name">Solicite más información</label>
                    <textarea name="comments" id="comments" rows="7" placeholder="Escriba algún comentario"></textarea>
                    <input type="submit" name="button" value="Enviar consulta">
                    <input type="reset" name="button" value="Borrar formulario">
                </form>
                <div class="privacidad">
                    <p>Nuestra politica de privacidad (haga clic en este enlace <a href="contacto.html">CONTACTO</a>) es
                        mantener
                        sus datos en privacidad. Si está de acuerdo con esta opción, marque la casilla y envie
                   
                    <input type="checkbox" name="privacy" required>
                    <button type="submit">Enviar</button>
                     </p>
                </div>
            </aside>
        
    </main>
    <footer>
        <p>© copyright 2024 Bienestar S.A.Todos los derechos reservados</p>

        <a href="http://www.facebook.com" target="_blank">facebook</a>
        <img src="../ASSETS/Gallery/facebook.png" alt="facebook">

        <a href="http://www.instagram.com" target="_blank">Instagram</a>
        <img src="../ASSETS/Gallery/instagram.png" alt="instagram">

        <a href="http://www.youtube.com" target="_blank">youtube</a>
        <img src="../ASSETS/Gallery/youtube.jpg" alt="youtube">
    </footer>

</body>

</html>
