<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="magazine">
    <meta name="robots" content="index, follow">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="sylvie">
    <meta name="keywords" content="magazine web">
    <meta name="robots" content="NOFOLLOW">
    <meta name="keywords" content="en la actualidad, blog, noticas">
    <title>EL BIENESTAR</title>
    <link rel="icon" href="../ASSETS/Gallery/favicon.ico" type="image/x-icon">
    <!--EstilosCSS-->
    <link rel="stylesheet" href="../CSS/estilos.css">
</head>
<body>
    <header>
        <nav class="nav">
            <div>
                <h2>BIENESTAR</h2>
                <img src="../ASSETS/Gallery/bienestar.jpg" alt="Logo empresa" class="logo">
            </div>
            <ul class="nav-links">
                <li><a href="../index.html">INICIO</a></li>
                <li><a href="productos.html" class="activo">PRODUCTOS</a></li>
                <li><a href="presupuesto.html">CLIENTE</a></li>
                <li><a href="contacto.html">CONTACTO</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="articulo">
            <article>Nuestros esquemas analizan cada una de sus necesidades para poder trabajar con ellas durante una
                consulta.<br>
                Cada situación conlleva una solución distinta. Ayudamos a investigar lo más profundo del ser humano,
                añadimos un test como un comienzo durante la terapia. <br>
                Será una conexión con su yo interior real, combinando su ser con la naturaleza y los análisis. <br>
                Siempre podrán disponer de un coach personal que les oriente en su camino hacia la superación y el
                éxito.<br>
            </article>
            <div class="consultas">
                <div class="esquema">
                    <img src="../ASSETS/Gallery/celebro.jpg" alt="celebro" width="350" height="350">
                    <div class="descripcion">
                        <p>Estudio cerebro</p>
                    </div>
                </div>
                <div class="esquema">
                    <img src="../ASSETS/Gallery/comportamiento.jpg" alt="comportamiento" width="350" height="350">
                    <div class="descripcion">
                        <p>Comportamiento</p>
                    </div>
                </div>
                <div class="esquema">
                    <img src="../ASSETS/Gallery/agobio.jpg" alt="agobio" width="350" height="350">
                    <div class="descripcion">
                        <p>Agobio</p>
                    </div>
                </div>
                <div class="esquema">
                    <img src="../ASSETS/Gallery/malestar.jpg" alt="malestar" width="350" height="350">
                    <div class="descripcion">
                        <p>Malestar</p>
                    </div>
                </div>
                <div class="esquema">
                    <img src="../ASSETS/Gallery/depresion.jpg" alt="depresion" width="350" height="350">
                    <div class="descripcion">
                        <p>Depresion</p>
                    </div>
                </div>
                <div class="esquema">
                    <img src="../ASSETS/Gallery/equilibrio.jpg" alt="equilibrio" width="350" height="350">
                    <div class="descripcion">
                        <p>Equilibrio</p>
                    </div>
                </div>
                <div class="esquema">
                    <img src="../ASSETS/Gallery/familia.jpg" alt="familia" width="350" height="350">
                    <div class="descripcion">
                        <p>Familia</p>
                    </div>
                </div>
                <div class="esquema">
                    <img src="../ASSETS/Gallery/frustacion.jpg" alt="frustacion" width="350" height="350">
                    <div class="descripcion">
                        <p>Frustacion</p>
                    </div>
                </div>
                <div class="esquema">
                    <img src="../ASSETS/Gallery/homeopatia.jpg" alt="homeopatia" width="350" height="350">
                    <div class="descripcion">
                        <p>Homepatia</p>
                    </div>
                </div>
                <div class="esquema">
                    <img src="../ASSETS/Gallery/entrevista.jpg" alt="entrevista" width="350" height="350">
                    <div class="descripcion">
                        <p>Entrevista</p>
                    </div>
                </div>
                <div class="esquema">
                    <img src="../ASSETS/Gallery/puntosclaves.jpg" alt="puntos claves" width="350" height="350">
                    <div class="descripcion">
                        <p>Puntos claves</p>
                    </div>
                </div>
                <div class="esquema">
                    <img src="../ASSETS/Gallery/respirar.jpg" alt="respirar" width="350" height="350">
                    <div class="descripcion">
                        <p>Respirar</p>
                    </div>
                </div>
            </div>
        </div>
    </main>
     <footer>
        <p>© copyright 2024 Bienestar S.A.Todos los derechos reservados</p>
        
        <a href="http://www.facebook.com" target="_blank">facebook</a>
        <img src="../ASSETS/Gallery/facebook.png" alt="facebook">

        <a href="http://www.instagram.com" target="_blank">Instagram</a>
        <img src="../ASSETS/Gallery/instagram.png" alt="instagram">

        <a href="http://www.youtube.com" target="_blank">youtube</a>
        <img src="../ASSETS/Gallery/youtube.jpg" alt="youtube">
    </footer>
</body>

</html>